
.card_image {
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 306px;
}

.card_content {
	padding: 1rem;
	background-color: #1f2a37;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.card_heading {
	font-weight: 300;
	margin-bottom: 1rem;
}

/* CARD_BODY */

.card__body {
	position: relative;
}

/* CARD_SEND */

.card_send {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: absolute;
	background-color: #1f2a37;
	inset: 0;
	opacity: 0;
	transition: 300ms;
}

.card_send[data-show='true'] {
	opacity: 1;
}
