nav > div {
	height: 36px;
}

.nav-link a {
	color: #9ca3af;
}

.nav-link a:hover {
	color: #3f83f8;
}

.nav-link[data-active='true'] a {
	color: #3f83f8;
}

.nav_brand_wrapper {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
