.send-collectible_heading-wrapper > div {
	align-items: center;
}

.send-collectible_heading-wrapper button {
	margin: 0.75rem;
	border-radius: 0;
}

.send-collectible_heading-wrapper h3 {
	margin: 1rem;
}

.send-collectible__error {
	display: grid;
	justify-items: center;
	gap: 2.5rem;
	margin-block: 2.5rem 1rem;
}

.send-collectible_heading {
	font-weight: 600;
	font-size: 1.125;
	color: #fff;
}

.card_wrapper {
	width: 375px;
	margin-inline: auto;

	padding-block: 2.5rem;
}

@media (max-height: 850px) {
	.card_wrapper {
		height: 300px;
	}

	.card_wrapper > article {
		overflow: hidden;
		margin-top: -120px;
		scale: 0.5;
	}
}

.sent-collectable_wrapper {
	display: grid;
	justify-content: center;
	justify-items: center;
	text-align: center;
	gap: 2.5rem;
	padding-block: 2.625rem 1rem;
}

.cancel {
	color: #3f83f8;
	background-color: transparent;
	font-weight: 400;
	font-size: 0.825rem;
	line-height: 1.5;
}

.cancel:hover:hover:hover {
	text-decoration: underline;
	background-color: transparent;
}

.cancel:disabled {
	text-decoration: none;
	background-color: transparent;
	color: #6b7280;
}
