@keyframes toast-fade {
	0% {
		right: -320px;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes nav-down {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
