.gallery {
	width: 1100px;
	margin-top: 3.125rem;
	animation: fade-in 2s;
}

.gallery_header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.gallery_header > img:hover {
	cursor: pointer;
}

.gallery_heading {
	font-weight: 900;
	font-size: 4.5rem;
	line-height: 1.15;
}

.gallery_content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	justify-content: center;
	gap: 2.5rem;
	padding-bottom: 5rem;
	animation: fade-in 2s;
}

.gallery_content > article {
	transition: 500ms;
}

.gallery_content > article:hover {
	transform: translateY(-1%);
}

/* GALLERY_LOADING */

.gallery_loading {
	gap: 3rem;
}

.gallery_loading__heading {
	font-size: 1.5rem;
	font-weight: 700;
}

.gallery_spinner svg {
	width: 150px;
	height: 150px;
}

/* GALLERY_EMPTY */

.gallery_empty {
	animation: fade-in 2s;
}

.gallery_empty__img {
	margin-left: 35px;
	margin-bottom: 40px;
}

.gallery_empty__heading {
	margin-bottom: 60px;
	font-size: 1.5rem;
	font-weight: 700;
}

.gallery_empty__refresh {
	color: #3f83f8;
}

.gallery_empty__refresh:hover {
	text-decoration: underline;
}

/* UTILS */

.gallery_no_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 257px);
}
