.home {
	height: calc(100vh - 84px);
}

/* HERO */

.hero {
	max-width: 1100px;
	margin-block: auto;
	padding-bottom: 100px;
	animation: fade-in 2s;
}

.hero_heading {
	font-size: 90px;
	line-height: 1.15;
	margin-bottom: 90px;
	text-align: center;
}

.hero_heading * {
	font-weight: 900;
}

.actions {
	display: flex;
	gap: 60px;
}

.actions-item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	border: 1px solid #6e7b90;
	border-radius: 20px;
	padding: 75px 125px;
	font-size: 30px;
	transition: transform 500ms;
}

.actions-item:hover {
	transform: translateY(-5%);
}

/* FOOTER */

.home_footer {
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100vw;
	background-color: #374151;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.25rem;
	position: relative;
}

.footer_heading {
	font-size: 30px;
}

.footer_heading span {
	font-weight: 700;
}

.footer_numbers {
	display: flex;
	gap: 4px;
}

.footer_number {
	font-weight: 700;
	border-radius: 8px;
	background-color: #fff;
	height: 45px;
	width: 34px;
	display: flex;
	justify-content: center;
}

.footer_number span {
	color: #374151;
	font-size: 30px;
}

/* MODAL */

.generateModal button {
	border-radius: 0;
}

.home-modal_heading {
	font-weight: 800;
	font-size: 1.5rem;
	margin-bottom: 0.625rem;
}

.home-modal_content {
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 0.625rem;
	width: 375px;
	text-align: center;
}

.modal__error {
	font-size: 1.5rem;
}

.new-pixelad_card-wrapper > article {
	width: 375px;
}

.footer_img {
	pointer-events: none;
	position: absolute;
	left: -115px;
	top: -60px;
}
@media (max-width: 1036px) {
	.footer_img {
		display: none;
	}
}
