body {
	color: #fff;
	background: #1f2a37;
}

body > div:nth-of-type(2) {
	z-index: 5000;
}

button:disabled,
button:disabled:hover:hover {
	background-color: #1f2a37;
}

.page {
	display: flex;
	justify-content: center;
	margin-top: 84px;
	padding-inline: 40px;
}

.modal-form-shadow {
	box-shadow: 15px -15px 0px 0px rgb(0, 0, 0, 0.2);
	border: 1px solid #4b5563;
}
